@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.loadRepoData__wrapper {
  display: flex;
  max-width: 1024px;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 20px;

  & input {
    width: 820px;
    height: 38px;
    border-radius: 4px;
  }
}

.loadRepoData__info {
  display: flex;
  padding: 0 20px;

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s ease;

    p {
      margin: 0;
    }

    i {
      margin: 0 5px;
    }
  }

  &-link:hover {
    color: rgb(15, 53, 242);
  }

  span {
    margin-left: 5px;
  }
}
